<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title></title>
        <style>

            input.invisible_border {
                border: 0px solid #000000;
            }

            invisible_border {

            }
        </style>

        <script src="{% static 'js/jquery-1.11.0.js' %}"></script>
        <script src="{% static 'js/micodigo.js' %}"></script>
        <script src="{% static 'js/jquery.formset.js' %}"></script>


        <script type="text/javascript">
          $(function() {
            $('#myForm tbody tr').formset({
              prefix: '{{ inline_form.prefix }}'
            });
          })
        </script>
    </head>
    <body>
    prefijo: {{ inline_form.prefix }}<br>
    <form id="myForm" method="post" action="{% url 'multiple_inline_formset' %}">
    {% csrf_token %}
      {{ tarjeta_form }}
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
        {% for form in inline_form %}
          <tr>
            <td>{{ form }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {{ inline_form.management_form }}
    <input type="submit" value="Go " />
    </form>
    </body>
</html>